<body style="background-color:#1c87c9;">
</body>

<img src="images/seal.svg">

<div class="heading">
    <h1>Welcome to the Presidential game!</h1>
</div>

<div class="textbox">
    <p>Welcome to the game pitting Presidents from history in head to head combat. Be the best Commander in Chief you can be!</p>
</div>

<%= @president %>