<body style="background-color:#1c87c9;">
</body>

<img src="images/seal.svg">

<div class="heading">
    <h1>Welcome to the Presidential game!</h1>
</div>

<div class="textbox">
    <p>Welcome to the game pitting Presidents from history in head to head combat.</p>
    <p>Simply pick your card from below and compare the given category. Highest score wins. Hail to the chief!</p>
</div>


<div class="w3-card">
    <p>Time in office</p>
<div>
<div class="w3-card">
    <p>Age when President</p>
</div>
<div class="w3-card">
    <p>Highest Approval Rating</p>
</div>
<div class="w3-card">
    <p>Greatest Achievement</p>
</div>
<div class="w3-card">
    <p>Worst Part of Presidency</p>
</div>

<%= @president %>