// Place all the styles related to the presidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.heading {
  width:50%;
  margin-left: 500px;
  border: solid;
  text-align: center;
  border-color: blue;
  background-color: gold;
  justify-content: center;
}

.textbox {
  width:50%;
  margin-left: 500px;
  border: solid;
  text-align: center;
  border-color: blue;
  justify-content: center;
}